
<div class="container">
    <div class="row">
        <div class="col-2">
            <h2>Deck</h2>
            <div class="deck">
                <div class="top-card">
                    
                </div>
                <div class="deck-card w-100 border" *ngFor ="let data of players[0].deck;  let i = index">
                    
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="hand">
                <h2>Hand</h2>
                <div class="row">
                    <div class="card-container col-3" *ngFor ="let data of players[0].hand;  let i = index">
                        <app-card [data]="data"></app-card><br />
                        <button (click)="sendCardToEnemy(i); sendToEnemyBtnClicked = true;" [disabled]="sendToEnemyBtnClicked" >Send to Opponent</button>
                        <button (click)="sendCardToDeck(i); sendToDeckBtnClicked = true;" [disabled]="sendToDeckBtnClicked" >Send back to deck</button>
                    </div>
                </div>            
            </div>
        </div>
        <div class="col-2">
            <h2>Discard</h2>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
