section.table-top {
    background: rgb(0,51,0);
    background: linear-gradient(180deg, rgba(0,255,0,1) 0%, rgba(0,187,0,1) 35%,  rgba(0,51,0,1) 100%);
}

.hand .card-container, .battlefield .card-container {
    height: 330px;
}

.hand .card-container:first-child {
    transform: rotate(-4deg);
    top: 10px;
    position: relative;
}

.hand .card-container:last-child {
    transform: rotate(4deg);
    top: 10px;
    position: relative;
}

.hand .card, .battlefield .card {
    box-shadow: rgb(0 0 0 / 75%) 10px 15px 5px 0px;
}

.deck .deck-card, .discarded .deck-card {
    border-bottom: 1px solid!important;
    width: 160px;    
}

.top-card {
    background-image: url(/assets/img/castle.png);
    background-size: 100% 100%;
    height: 270px;
    width: 160px;   
}

.discarded  {
    height: 270px;
    width: 160px; 
    left: 36px;
    position: relative;    
}

::ng-deep .discarded .name {
    font-size: 80%;
}

.battlefield .points {
    position: absolute;
    z-index: 11;
    width: 80px;
    color: white;
    top: 0;
    left: 21.5%;
}

.battlefield .enemyPoints {
    position: absolute;
    z-index: 11;
    width: 80px;
    color: white;
    top: 0;
    right: 21.5%;
}


#battleModal .modal-content {
    background: rgb(254,225,0);
    background: linear-gradient(0deg, rgba(254,225,0,1) 0%, rgba(187,18,0,1) 50%, rgba(254,225,0,1) 100%);
}

