<section class="table-top h-75">
  <div class="container pt-5">
      <div class="row">
          <div class="col-2">
              <h2 class="">Deck</h2>
              <div class="deck">
                  <div class="top-card">
                      
                  </div>
                  <div class="deck-card border" *ngFor ="let data of players[0].deck;  let i = index">
                      
                  </div>
              </div>
          </div>
          <div class="col-8">
              <div class="hand">
                  <h2 class="text-center">Hand</h2>
                  <div class="row">
                      <div class="card-container col-3" *ngFor ="let data of players[0].hand;  let i = index">
                          <button (click)="sendCardToEnemy(i); sendToEnemyBtnClicked = true;" [disabled]="sendToEnemyBtnClicked" class="w-100 btn btn-danger mb-2">
                            <small>Send to Opponent's Deck</small>
                          </button>
                          <app-card [data]="data"></app-card><br />
                          <button (click)="sendCardToDeck(i); sendToDeckBtnClicked = true;" [disabled]="sendToDeckBtnClicked" class="btn btn-info w-100" >
                            <small>Send back to Your Deck</small>
                          </button>
                      </div>
                  </div>            
              </div>
          </div>
          <div class="col-2">
              <h2 class="">Discard</h2>
          </div>
      </div>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#battleModal" id="battleModalBtn" style="visibility: hidden">
      Launch demo modal
  </button>
</section>  
<section class="table-side h-25">

</section>
  <!-- Modal -->
  <div class="modal fade" id="battleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Battle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Player's points {{playerPoints}}
          <div class="battlefield">
            <div class="row">
                <div class="card-container col-6" *ngFor ="let data of players[0].battlefield;  let i = index">
                    <app-card [data]="data"></app-card><br />
                </div>
            </div>            
        </div>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
