.card {
    background-image: url(/assets/img/castle.png);
    background-size: 100% 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.name {
    position: relative;
    top: 13px;
    left: 12.5%;
}

.points {
    position: relative;
    bottom: 19px;
    left: 37%;
}

.text {
    position: relative;
    top: -8px;
}

.text p{
    font-size: 12px;
    line-height: 1.2;
}