.card {
    background-image: url(/assets/img/castle.png);
    background-size: 100% 100%;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

.name {
    position: absolute;
    top: 2%;
    left: 12.5%;
    z-index: 10;
}

.image {
    position: absolute;
    width: 90%;
    height: auto;
    top: 5.7%;
}

.points {
    position: absolute;
    top: 52%;
    left: 38%;
    padding: 3% 8% 3% 8%;
    z-index: 10;
}

.text {
    position: absolute;
    top: 63%;
    height: 33%;
    width: 90%;
}

.text p{
    font-size: 12px;
    line-height: 1.2;
}